* {
  margin: 0;
  padding: 0;
}

header{
    margin: 0px auto 0px;
    padding: 15px 15px;
    text-align: center;
    font-family: "Tahoma";
    font-size: 50px;
    background-color: #cccccc;
}

footer{
    margin: 10px auto 0px;
    padding: 15px 15px;
    text-align: center;
    color:#444444;
    background-color: #cccccc;
}

body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

#about, #work, #contact{
margin:20px;
}

ul#about_me{
    font-size: 15px;
}

p#github_user_page{
    font-size: 15px;
}

#img_area{
    width: 500;
    height: 300px;
}

img.slider{
    width:300px;
    height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#my_carouse1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}